/build/**

# synthesis dir
/synthesis/*
!/synthesis/output_src/
!/synthesis/output_src/**
!/synthesis/scripts/
!/synthesis/scripts/**
!/synthesis/Makefile

/waves/**

/sim/**

tb_wave.view
tb_wave.vcd

.vscode/

# specific files
/src/fo1.v

#virtuoso
/virtuoso/*
!/virtuoso/pvt_sensor/
!/virtuoso/pvt_sensor/**
!/virtuoso/cds.lib
!/virtuoso/waves/final_report/
!/virtuoso/waves/final_report/**
